{% extends "index.html" %}

{% block description %}Yneth tags{% endblock description %}

{% block content %}
    <section class="mt-8 md:w-96 w-full">
        <h1 class="font-bold text-xl">Tags</h1>

        {% if terms %}
            <ul class="ml-2 mt-4">
                {% for term in terms %}
                    <li>* <a href="{{ term.permalink | safe }}">{{ term.name }}</a> ({{ term.pages | length }})</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock content %}
