{% extends "index.html" %}

{% block title %}{{ page.title | safe }}{% endblock title %}
{% block description %}{{ page.description | safe }}{% endblock description %}
{% block twitter_title %}{{ page.title | safe }}{% endblock twitter_title %}
{% block twitter_description %}{{ page.description | safe }}{% endblock twitter_description %}
{% block og_title %}{{ page.title | safe }}{% endblock og_title %}
{% block og_description %}{{ page.description | safe }}{% endblock og_description %}


{% block content %}
    <article class="md:w-[48em] border-1 border-y border-black mt-8 py-2 w-full grow whitespace-normal">
        <h1>{{ page.title | safe }}</h1>
        <div>
            {% if page.date %}{{ page.date | date(format="%Y-%m-%d") }}{% endif %}
            {% if page.extra.updated %}(last updated: {{ page.extra.updated | date(format="%Y-%m-%d") }}){% endif %}
        </div>

        <hr/>

        {% if page.taxonomies.tags %}
            <ul class="flex flex-row flex-wrap gap-x-2">
                {% for tag in page.taxonomies.tags %}
                    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="article__content mt-4">
            {{ page.content | safe }}
        </div>
    </article>

    <section class="w-full mt-8 py-2">
        <script src="https://utteranc.es/client.js"
                repo="yneth/yneth.github.io"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
    </section>
{% endblock content %}
