{% extends "index.html" %}

{% block description %}Yneth snippets{% endblock description %}

{% block content %}
    <section class="mt-8 md:w-96">
        <h1 class="font-bold text-xl">All snippets</h1>
        {% for year, posts in section.pages | group_by(attribute="year") %}
            <h2 class="font-bold text-lg mt-4">{{ year }}</h2>

            <ul class="ml-2 space-y-1">
                {% for post in posts %}
                    <li>* <a href="{{ post.permalink }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>
{% endblock content %}
